<script>
	document.documentElement.className = 'js';
</script>
<noscript>
	<div class="no-js__box">
		<p>
			Máte vypnutý Javascript. Pro správné fungování stránky jej prosím zapněte.
		</p>
	</div>
</noscript>
