{{> ../components/header}}

<h1>Index page</h1>

<ul>
	<li><a href="home.html">Home</a></li>
	<li><a href="404.html">404</a></li>
	<li><a href="sample.html">Sample</a></li>
</ul>

{{> ../components/footer}}
